<!DOCTYPE html>
<!-- views/index.ejs -->
<html>
<head>
    <title><%= title %> Node Authentication</title>
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/bower_components/underscore/underscore.js"></script>
    <script src="js/bower_components/backbone/backbone-min.js"></script>
    <script src="js/bower_components/backgrid/lib/backgrid.js"></script>
    <script src="js/bower_components/backbone.paginator/lib/backbone.paginator.min.js"></script>
    <script src="js/bower_components/backbone-paginator/backgrid-paginator.min.js"></script>
    <script src="js/bower_components/backgrid-select-all/backgrid-select-all.js"></script>
    <script src="js/bower_components/backgrid-filter/backgrid-filter.min.js"></script>
    <script src="js/bower_components/backbone-forms/distribution/backbone-forms.min.js"></script>
    <script src="js/bower_components/backbone-forms/distribution/templates/bootstrap3.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
            <div class="user-table"></div>
    </div>

</div>
</body>
</html>